.wrapper
{

  background-color: rgb(241, 245, 246);
  margin: auto;
  padding: 10px;
  width:90%;
  background-color: white;
  position: relative;
  top:20px;
}

h1
{
  text-align: center;
}
button
{
  margin-right: 10px;
}
/* .loader
{
  height: 150px;
  width:150px;
  margin: auto;
  position: relative;
  top:30vh;
} */
.loader img
{
  height:100px;
  position: absolute;
  left:40%;
  top:50vh;
}
